<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body style="width:100% !important; margin:0 !important; padding:0 !important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#F7F7F9;">
        <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#F7F7F9; color:#474747;">
            <tr>
                <td style="padding:50px 0;">
                    <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
                        <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important; ">
                            <tr>
                                <td width="100%">
                                    <table bgcolor="#000" border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tr>
                                            <td width="60%" style="text-align:left;padding:30px 25px 30px 50px">
                                                <a href="#"><img width="190" src="https://i.imgur.com/GyyUZTM.png" style="display:block" alt="" border="0">
                                                </a>
                                            </td>
                                            <td valign="middle" style="padding: 30px 50px 30px 0; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal; text-align: left;">
                              KUNDESERVICE
                              <br />
                              98182100 / <a href="mailto:info@cjdele.dk" style="color: #fff">info@cjdele.dk</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="50" width="100%">
                                        <tr>
                                            <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                                <p style="color:#212121; font-family:Arial, Helvetica, sans-serif; font-size:28px; line-height:32px; margin-top:0; margin-bottom:40px; padding:0; font-weight: 600;">
                                                    Hej CLAUS JUSTESEN. Tak for din ordre!
                                                </p>
                                                <p style="color:#212121; font-family:Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; margin-top:0; margin-bottom:40px; padding:0; font-weight:normal; border-bottom: 1px solid #f0f0f0; padding-bottom: 40px">
                                                Vi er så glade for at du valgte at handle på Cjdeke.dk! Vi har modtaget din ordre og vil begynde at arbejde på det med det samme. du vil modtage en ny e-mail så snart ordren afsendes eller er klar til afhentning.
                                                </p>
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%" class="emailwrapto100pc">
                                                    <tr>
                                                        <td class="emailcolsplit" align="left" valign="top" width="50%" style="padding-right: 20px;">
                                                            <h3 style="color:#212121; font-family:Arial, Helvetica, sans-serif; font-size: 28px; line-height: 30px; margin-bottom: 45px;">
                                  Ordre detaljer
                                </h3>
                                <table valign="top" border="0" cellspacing="0" cellpadding="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px;">
                                  <tbody>
                                    <tr>
                                      <td valign="top"><strong>Ordrenummer:</strong><td>
                                      <td valign="top">559097</td>
                                    </tr>
                                    <tr>
                                      <td valign="top"><strong>Dag bestilt:</strong><td>
                                      <td valign="top">03-05-2019 07:02:13</td>
                                    </tr>
                                    <tr>
                                      <td valign="top"><strong>Betaling:</strong><td>
                                      <td valign="top">Betaling foregår via faktura.</td>
                                    </tr>
                                    <tr>
                                      <td valign="top"><strong>Forsendelse:</strong><td>
                                      <td valign="top">Standard</td>
                                    </tr>
                                    <tr>
                                      <td valign="top"><strong>Forventet	Levering:</strong><td>
                                      <td valign="top">07-05-2019</td>
                                    </tr>
                                  </tbody>
                                </table>
                                                        </td>
                                                        <td class="emailcolsplit" align="left" valign="top" width="50%" style="padding-left:17px;max-width:231px; border-left: 1px solid #f0f0f0; font-family:Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px;">
                                                            <div style="padding-top: 100px"><strong>Leverings Adresse:</strong></div>
                                CLAUS JUSTESEN <br />
                                LANGELANDSGADE 22 <br />
                                9000AALBORG, DK <br />
                                <div style="padding-top: 30px;"><strong>Fakturerings Adresse:</strong></div>
                                CLAUS JUSTESEN <br />
                                LANGELANDSGADE 22 <br />
                                9000AALBORG, DK <br />
                                                        </td>
                                                    </tr>
                                                </table>
                          <div style="border-top: 1px solid #f0f0f0; padding-top: 40px; margin-top: 40px;">
                            <h3 style="color:#212121; font-family:Arial, Helvetica, sans-serif; font-size: 28px; line-height: 30px; margin-bottom: 45px;">
                              Varer Købt
                            </h3>
                            <table border="0" cellspacing="0" cellpadding="5" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; color: #212121">
                              <thead style="background: #ffcb26">
                                <tr>
                                  <th>Beskrivelse</th>
                                  <th>Styk pris</th>
                                  <th align="center">Antal</th>
                                  <th align="right">Total pris</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;">
                                    <div>
                                      <strong>FEDTFILTER</strong>
                                    </div>
                                    <div style="color: #616161;">Varenummer: 50277602004</div>
                                  </td>
                                  <td style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;">Kr. 50,00</td>
                                  <td align="center" style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;" >1</td>
                                  <td align="right" style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;">Kr. 50,00</td>
                                </tr>
                                <tr>
                                  <td style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;">
                                    <div>
                                      <strong>FEDTFILTER</strong>
                                    </div>
                                    <div style="color: #616161;">Varenummer: 50277602004</div>
                                  </td>
                                  <td style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;">Kr. 50,00</td>
                                  <td align="center" style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;" >1</td>
                                  <td align="right" style="padding: 15px 0; border-bottom: 1px solid #f0f0f0;">Kr. 50,00</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td colspan="3" align="right" style="padding: 15px 0;">
                                    <strong>Fragt:</strong>
                                  </td>
                                  <td align="right" style="padding: 15px 0;">
                                    <strong>Kr. 0,00</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3" align="right" style="padding: 15px 0;">
                                    <strong>Total Beløb Ekskl. MOMS</strong>
                                  </td>
                                  <td align="right" style="padding: 15px 0;">
                                    <strong>Kr. 644,00</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3" align="right" style="padding: 15px 0;">
                                    Hertil MOMS:
                                  </td>
                                  <td align="right" style="padding: 15px 0;">
                                    Kr. 161,00
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3" align="right" style="padding: 15px 0;">
                                    Pris I Alt Inkl. MOMS:
                                  </td>
                                  <td align="right" style="padding: 15px 0;">
                                    Kr. 805,00
                                  </td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="50" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; color: #212121">
                                        <tr>
                                            <td width="100%" bgcolor="#f1f1f1" style="text-align:center;">
                          <div style="padding-bottom: 20px;">
                            <a href="" style="padding-right: 10px; text-decoration: none;">
                              <img src="https://i.imgur.com/r8rU2QZ.png" alt="">
                            </a>
                            <a href="" style="padding-right: 10px; text-decoration: none;">
                              <img src="https://i.imgur.com/1uPxVqW.png" alt="">
                            </a>
                          </div>
                          <table border="0" cellspacing="0" cellpadding="0" width="70%" style="padding-bottom: 20px; margin-left: auto; margin-right: auto;">
                            <tr>
                              <td>
                                <a href="" style="text-decoration: underline; color: #212121;">Min konto</a>
                              </td>
                              <td>
                                <a href="" style="text-decoration: underline; color: #212121;">Kundeservice</a>
                              </td>
                              <td>
                                <a href="" style="text-decoration: underline; color: #212121;">Kontakt os</a>
                              </td>
                            </tr>
                          </table>
                          <div style="padding-bottom: 20px;">
                                                Tilføj venligst info@cjdele.dk til din adressebog for at sikre, at vores e-mails når din indbakke!
                          </div>
                          <div style="padding-bottom: 20px;">
                            © 2019 cjdele.dk, Inc. eller CJ Hvidevareservice Aalborg Aps
                            <br>
                            Thorndahlsvej 11, 9200 Aalborg SV
                            <br>
                            CVR: DK-29529035
                          </div>
                          Denne email blev sendt til thaokhanhtran@gmail.com.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </body>
    
</body>
</html>